<!DOCTYPE html>
<html>
<!--도입부 페이지-->

<head>
    <meta charset="UTF-8">
    <title>슈아는 언제 졸업할까?</title>
    <link rel="icon" href="../ssuniverselogo.png">
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        @font-face {
            font-family: cookierun;
            src: url(../CookieRunFont_TTF/CookieRun\ Regular.ttf);
        }
    </style>
</head>

<body style="background-image:url(../blue-check-back.jpg); background-repeat:repeat;background-size:auto;">
    <div style="font-family: cookierun;">
        <center>
            <img src="../ssuniverse_clean.png" href="./mainpage.html" style="width:150px; margin-top:50px;"> <br>
            <!--일러스트 들어갈 공간-->
            <img src="../xbox.PNG" style="width:400px;"><br>
            <div id="description" style="font-size: 20px;">
                때는 바야흐로 20세기 날 좋은 날,<br> 숭실대학교 학생들과 학교를 같이 다니고 싶던 영물(靈物) 백마 한 마리가 백마상에서 탈출하게 되는데...<br> 여기 저기 도와주는게 좋아 슈니버스에서 모델 알바를 하며 자발적으로 N년 째 재학 중인 슈아!그렇게 미루고 미뤄온 졸업을 슈아는 언제쯤 할 수 있을까요?<br>
            </div>
            <div class="d-grid gap-2 col-4 mx-auto">
                <button class="btn btn-primary" type="button" style="margin-top:30px">알아보러 가기</button>
            </div>
        </center>
    </div>
</body>

</html>