<!DOCTYPE html>
<html>
<!--도입부 페이지-->

<head>
    <meta charset="UTF-8">
    <title>슈아는 언제 졸업할까?</title>
    <link rel="icon" href="../ssuniverselogo.png">
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <style>
        @font-face {
            font-family: cookierun;
            src: url(../CookieRunFont_TTF/CookieRun\ Regular.ttf);
        }
    </style>
</head>

<body>
    <div style="font-family: cookierun; font-size: 20px;">
        <center>
            <img src="../ssuniverse_clean.png" href="./mainpage.html" style="width:150px; margin-top:50px; margin-bottom: 50px;"><br>
            <div>
                <p id="result_description_top"></p>
            </div>
            <!--일러스트 들어갈 공간-->
            <img src="../xbox.PNG" style="width:400px"><br>
            <div>
                <p id="result_description_bottom"></p>
            </div>
            <div>
                <p style="font-size:20px">내 결과 공유하기</p>
                <p id="snsbtns"></p>
                <a href="../mainpage/mainpage.html"><img src="./againbtnimg.PNG"></a>
            </div>
            <div style="font-size: 22px;">
                슈아의 소속사 슈니버스의 다양한 소식을 접해보세요!<br><br>
            </div>
            <div>
                <a href="https://www.ssunivs.com/">슈니버스 광고링크</a>
            </div>
        </center>
    </div>
</body>

</html>